/* RESET */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:#f4f6f9;
}

/* HEADER */
header{
    background:#2c3e50;
    color:white;
    padding:20px;
    text-align:center;
}

/* NAV */
nav{
    background:#34495e;
    padding:15px;
    text-align:center;
}

nav a{
    color:white;
    text-decoration:none;
    margin:0 15px;
    font-weight:bold;
}

nav a:hover{
    color:#1abc9c;
}

/* CONTAINER */
.container{
    width:90%;
    max-width:1000px;
    margin:40px auto;
    background:white;
    padding:30px;
    border-radius:8px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

/* TITLES */
h2{
    margin-bottom:20px;
    color:#2c3e50;
}

/* FORMS */
form input,
form select{
    width:100%;
    padding:12px;
    margin:10px 0;
    border:1px solid #ccc;
    border-radius:5px;
}

form button{
    background:#1abc9c;
    color:white;
    border:none;
    padding:12px 25px;
    border-radius:5px;
    font-weight:bold;
    cursor:pointer;
}

form button:hover{
    background:#16a085;
}

/* TABLE */
table{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
}

table th{
    background:#2c3e50;
    color:white;
    padding:12px;
}

table td{
    padding:12px;
    border-bottom:1px solid #ddd;
}

table tr:hover{
    background:#f1f1f1;
}

/* BUTTON LINKS */
.action-btn{
    padding:6px 12px;
    border-radius:4px;
    text-decoration:none;
    color:white;
    font-size:14px;
}

.edit{
    background:#3498db;
}

.delete{
    background:#e74c3c;
}

/* HERO */
.hero{
    text-align:center;
    padding:60px 20px;
}

.btn{
    display:inline-block;
    background:#1abc9c;
    color:white;
    padding:15px 25px;
    text-decoration:none;
    border-radius:5px;
    margin-top:20px;
}

/* FOOTER */
footer{
    text-align:center;
    background:#2c3e50;
    color:white;
    padding:15px;
    margin-top:310px;
}
.dashboard-cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    flex: 1;
    min-width: 300px;
}

.card h3 {
    margin-top: 0;
    color: #2c3e50;
    border-bottom: 2px solid #3498db;
    padding-bottom: 10px;
}

.card ul {
    list-style: none;
    padding: 0;
}

.card ul li {
    margin-bottom: 10px;
}

.card ul li a {
    color: #3498db;
    text-decoration: none;
    display: block;
    padding: 8px;
    border-radius: 5px;
    transition: background 0.3s;
}

.card ul li a:hover {
    background: #f8f9fa;
}